@model Store.Models.Product
@{
    ViewData["Title"] = @Model.Name;
}


<head>
    <link href="~/css/Store/details.css" rel="stylesheet" />
</head>

<div class="header">
    <h1 class="display-4">@Model.Brand.Name @Model.Name <img src="~/images/@Model.Brand.PhotoPath" class="logo-image"> </h1>

</div>
<hr />
<br />


<img src="~/images/@Model.PhotoPath" class="product-image">

<p>@Model.Price zł</p>

<p>@Model.Description</p>



<form id="myForm" method="post">
    <div class="form-row justify-content-center">
        <select id="select" class="form-control col-md-1" style="margin-top:5px; margin-bottom:15px;">
            @foreach (var item in Model.Stock)
            {
                @if (item.Product.CategoryId == 1)
                {
                    <option value="@item.Id">@item.Name US</option>
                }
                else
                {
                    <option value="@item.Id">@item.Name</option>

                }
            }
        </select>
    </div>

</form>


<div class="form-row" style="margin-top:15px">
    <div class="col-md-4">

    </div>
    <div>
        <button id="save" type="button" value="Submit" class="btn btn-success">To shopping cart</button>
    </div>

    <div class="col-md-1">

    </div>

    <div>
        <button type="button" class="btn btn-dark"
                onclick="location.href = '@Url.Action("Index", "Store")'">
            Return to shop
        </button>
    </div>
</div>


<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header">
        <img src="~/images/shoelogo-sm.png" class="rounded mr-2" alt="..." height="20">
        <strong class="mr-auto">Store</strong>
        <small>Just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Added to cart!
    </div>
</div>


<style>
    .toast {
        font-size: 15px;
        position: fixed;
        left: 50px;
        top: 200px;
    }

        .toast small {
            font-size: 10px;
        }
</style>



@section scripts{
    <script>
        if (getCookie('counter') === "" || getCookie('counter') === null) {
            var counter = 0;
        }
        else {
            var counter = getCookie('counter');
        }

        var toast = function () {
            $('.toast').toast('show');
            setTimeout(function () {
                $('.toast').fadeOut('slow');
            }, 3000); // <-- time in milliseconds
        }


        $(document).ready(function () {
            saveBtnHanlder();
            checkIfStockIsEmty();
        });


        var saveBtnHanlder = function () {
            $('#save').click(function () {
                sendData();
            });
        }

        var sendData = function () {

            var data = new FormData();

            var stockId = $('#select').val();

            data.append('id', stockId);
            counter++;
            data.append('counter', counter);


            var ajaxConfig = {
                type: "POST",
                url: "/Store/Cart",
                data: data,
                processData: false,
                contentType: false,
                success: function (response) {
                    //alert('Pomyślnie dodano do basketu!');
                    toast();
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                },
                error: function (xhr, status) {
                    alert('You must be logged in!');
                }
            }

            $.ajax(ajaxConfig);

        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }


        var checkIfStockIsEmty = function () {
            if ($('#select option').length == 0) {
                alert('This was the last item in stock! Hurry up to order before someone else gets ahead of you !');
                window.location.replace("/Store");
            }

        }

    </script>
}