@model Store.ViewModels.ShippingInformationModel
@inject SignInManager<Store.Models.User> signInManager

@{
    ViewData["Title"] = "Order";
}

<br />
<br />

<form id="myForm">
    <div class="container">

        <div asp-validation-summary="All">
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label asp-for="@Model.Order.FirstName">First Name</label>
                <input type="text" asp-for="@Model.Order.FirstName" value="@Model.User.FirstName" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label asp-for="@Model.Order.LastName">Last Name</label>
                <input type="text" asp-for="@Model.Order.LastName" value="@Model.User.LastName" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label asp-for="@Model.Order.Address1">Address 1</label>
                <input type="text" asp-for="@Model.Order.Address1" value="@Model.User.Address1" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label asp-for="@Model.Order.Address2">Address 2</label>
                <input type="text" asp-for="@Model.Order.Address2" value="@Model.User.Address2" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label asp-for="@Model.Order.PostCode">Postal Code</label>
                <input type="text" asp-for="@Model.Order.PostCode" value="@Model.User.PostCode" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label asp-for="@Model.Order.City">City</label>
                <input type="text" asp-for="@Model.Order.City" value="@Model.User.City" class="form-control" />
            </div>
        </div>
    </div>

    <input type="hidden" asp-for="@Model.User.Id" value="@Model.User.Id" />

</form>

<br />
<br />
<div class="row">

    <button class="btn btn-danger" id="order-js">Save</button>
    <div class="col-md-2">
    </div>

    <button class="btn btn-dark" onclick="location.href = '@Url.Action("Cart", "Store")'">Back</button>

</div>

@section scripts {

    <script>
        $(document).ready(function () {
            $('#order-js').click(function () {
                $.validator.unobtrusive.parse(myForm);
                if ($(myForm).valid()) {
                    order();
                }
            });
        });

        var order = function () {
            var data = $(myForm).serialize();
            var ajaxConfig = {
                type: "POST",
                url: "/Store/ShippingInformation",
                data: data,
                success: function (response) {
                    //alert('Saved!');
                    window.location.replace("/Store/Cart");
                },
                error: function (xhr) {
                    alert('Something went wrong. Please contact support.');
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            }
            $.ajax(ajaxConfig);
        }

        var deleteAllCookies = function () {
            document.cookie.split(";")
                .forEach(function (c) {
                    document.cookie = c.replace(/^ +/, "")
                        .replace(/=.*/, "=;expires=" + new Date()
                            .toUTCString() + ";path=/");
                });
        }
    </script>

}

<style>
    .form-row {
        margin-top: 10px;
    }
</style>
