@model Store.Models.User
@{
    ViewData["Title"] = "Info";
    var photoPath = "~/Images/" + (Model.PhotoPath ?? "noimage.png");
}


@if (Model.PhotoPath != null)
{
    <img src="~/images/@Model.PhotoPath" class="rounded float-right img-fluid" asp-append-version="true" style="height: 25%; width: 25%;">
}
else
{
    <img src="~/images/noimage.png" class="rounded float-right img-fluid" asp-append-version="true" style="height: 25%; width: 25%;">
}

<div class="card-body">

    <h1>@Model.FirstName @Html.DisplayText(" ") @Model.LastName</h1>

    <ul>

        <li>Email: @Model.Email</li>
        <li>Gender: @Model.Gender.Name</li>
        <li>Phone Number: @Model.PhoneNumber</li>
        <li>City: @Model.City</li>

    </ul>


    <br />


    <a class="btn btn-dark" asp-controller="Account" asp-action="EditProfile" asp-route-id="@Model.Id">
        Edit
    </a>

</div>



<script>

    $(document).ready(function () {
        $(".js-delete-user").click(function (e) {
            var button = $(e.target);
            var id = button.attr("data-user-id");
            $.ajax({
                url: '/api/account/'.concat(id),
                type: 'DELETE',
                success: function (response) {
                    $("#".concat(delete -button)).fadeOut();
                    alert("DELETE");
                }
            });
        });
    });


</script>