@model Store.Models.Category

@{
    ViewData["Title"] = "Formularz dodawania kategorii";
}

@{
    await Html.RenderPartialAsync("Partial/_nav_product");
}
<hr />
<br />


@using (Html.BeginForm("SaveCategory", "Administration"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()
    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>

    <br />
    if (Model.Name == null)
    {
        <button type="submit" class="btn btn-primary">Dodaj nową kategorię</button>
    }
    else
    {
        @Html.HiddenFor(x=>x.Id)
        <button type="submit" class="btn btn-primary">Zapisz</button>

    }
}

<br />

<button type="button" class="btn btn-dark"
        onclick="location.href = '@Url.Action("Category", "Administration")'">
    Wróć do listy
</button>