@model Store.ViewModels.CreateRoleViewModel
@{
    ViewData["Title"] = "Create a new role";
}
@{
    await Html.RenderPartialAsync("Partial/_nav_product");
}
<br />

<h1>Create a new role</h1>
<br />
<hr />


@using (Html.BeginForm("CreateRole", "Administration"))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.RoleName)
        @Html.TextBoxFor(u => u.RoleName, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.RoleName)
    </div>

    <button type="submit" class="btn btn-primary">Create a new role</button>
    <a class="btn btn-danger"
       asp-controller="Administration" asp-action="Roles">
        Delete
    </a>

}

