@model List<Store.ViewModels.UserRoleViewModel>

@{
    await Html.RenderPartialAsync("Partial/_nav_product");
}

@{
    var roleId = ViewBag.roleId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove user role</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    @Html.HiddenFor(x => x[i].UserId)
                    @Html.HiddenFor(x => x[i].UserName)
                    @Html.CheckBoxFor(x => x[i].IsSelected, new { @class = "form-check-input" })
                    @Html.LabelFor(x => x[i].IsSelected, Model[i].UserName)
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Zatwierdź" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="EditRole" asp-route-id="@roleId"
               class="btn btn-danger" style="width:auto">Delete</a>
        </div>
    </div>
</form>
