@model Store.ViewModels.EditRoleViewModel

@{
    ViewBag.Title = "Edit Role";
}
@{
    await Html.RenderPartialAsync("Partial/_nav_product");
}
    <br />
<h1>Edit Role</h1>
<hr />
<form method="post" class="mt-3">
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(x => x.Id)
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @disabled = "true" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.RoleName)
        @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.RoleName)
    </div>


    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Roles" class="btn btn-danger">Return</a>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-header">
            <h3>Użytkownicy posiadający tą rolę</h3>
        </div>
        <div class="card-body">
            @if (Model.Users.Any())
            {
                foreach (var user in Model.Users)
                {
                    <h5 class="card-title">@user.UserName</h5>
                }
            }
            else
            {
                <h5 class="card-title">Póki co nikt nie posiada tej roli</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="EditUsersInRole" asp-controller="Administration" asp-route-roleId="@Model.Id" class="btn btn-primary" style="width: auto">Add or remove users</a>
            @*<a href="#" class="btn btn-primary" style="width: auto">Usuń użytkowników</a>*@
        </div>
    </div>
</form>